.container {
  display: flex;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.comingsoon{
  letter-spacing: 2rem;
  margin-right: -2rem;
  font-weight: 500;
}
.p{
  letter-spacing: 2px;
}